# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib # TODO temporary
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll # TODO temporary
*.so  # TODO temporary
*.so.*
*.dylib

# Checker files 2-stdio
2-stdio/test*
2-stdio/_test/
2-stdio/_log
2-stdio/run_all.sh
2-stdio/*.so
2-stdio/*.dll

# VScode-server
.vscode-server/*
.*
.ssh/

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex
